# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# IDE
.idea/
*.iml

# macOS
.DS_Store

# Firebase local configuration
firebase.json
.firebaserc

# Firebase generated configuration
lib/firebase_options.dart

# Firebase Android/iOS config
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
# Xcode Swift Package Manager
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
ios/Runner.xcworkspace/xcshareddata/swiftpm/
