rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isLoggedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isLoggedIn()
          && get(
            /databases/$(database)/documents/users/$(request.auth.uid)
          ).data.role == 'admin';
    }

    match /users/{userId} {

      allow read: if isLoggedIn()
          && request.auth.uid == userId;

      allow create: if isLoggedIn()
          && request.auth.uid == userId
          && request.resource.data.role == 'user';

      allow update: if isLoggedIn()
          && request.auth.uid == userId
          && request.resource.data.role == resource.data.role;

      allow delete: if false;
    }

    match /listings/{listingId} {

      allow read: if isLoggedIn()
          && (
            resource.data.status == 'approved'
            || resource.data.sellerId == request.auth.uid
            || isAdmin()
          );

      allow create: if isLoggedIn()
          && request.resource.data.sellerId == request.auth.uid
          && request.resource.data.status == 'pending';

      allow update: if isLoggedIn()
          && (
            isAdmin()
            ||
            (
              resource.data.sellerId == request.auth.uid
              && request.resource.data.sellerId == resource.data.sellerId
              && request.resource.data.status == 'pending'
            )
          );

      allow delete: if isLoggedIn()
          && (
            resource.data.sellerId == request.auth.uid
            || isAdmin()
          );
    }

    match /wishlists/{wishlistId} {

      allow read: if isLoggedIn()
          && resource.data.userId == request.auth.uid;

      allow create, update: if isLoggedIn()
          && request.resource.data.userId == request.auth.uid;

      allow delete: if isLoggedIn()
          && resource.data.userId == request.auth.uid;
    }
  }
}